/* start variables */
:root {
  --main-color: #a30101;
  --section-padding: 100px;
  --radius: 10px;
}
/* end variables */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::selection {
  color: white;
  background: var(--main-color);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
hr {
  margin: 20px auto;
  border: 1px solid var(--main-color);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.rotation {
  transform: rotateY(-180deg);
}
.flex {
  display: flex;
}
/* small screen */
@media (min-width: 768px) {
  .container,
  hr {
    width: 750px;
  }
  .special-head + p {
    font-size: 15px;
    margin: 10px;
  }
  .special-head {
    font-size: 60px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container,
  hr {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container,
  hr {
    width: 1170px;
  }
}
/* end global rules  */
/* start header */
.header .container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-top: 5px;
}
.header .container .logo {
  height: 100%;
}
.header .container .logo img {
  height: 100%;
}
.header .links ul {
  display: flex;
}
.header .links ul li {
  margin-left: 30px;
  text-transform: uppercase;
}
.header .links ul li:last-child {
  margin-right: 10px;
}
.header .links ul li a {
  color: black;
  font-size: 18px;
}
.header .links ul li:hover {
  transition: 0.5s;
  transform: scale(1.2);
}
.header .links ul li:hover a {
  color: var(--main-color);
}
.header i {
  display: none;
}
@media (max-width: 768px) {
  .header i {
    display: block;
    font-size: 30px;
    margin: 15px 10px;
    color: var(--main-color);
  }
  .header .links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--main-color);
    height: 300px;
    z-index: 2;
    position: absolute;
    top: 70px;
    right: 0;
    border: 1px dashed white;
  }
  .header .links ul {
    flex-direction: column;
  }
  .header .links ul li {
    margin: 0 0 28%;
    border-bottom: 1px solid white;
    width: 80%;
    text-align: center;
    padding-bottom: 5px;
  }
  .header .links ul li a {
    color: white;
  }
}
/* end header */
/* start content */
.dashboard {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.users,
.staff,
.quantities {
  border: 1px solid var(--main-color);
  border-radius: var(--radius);
  background-color: #a301010d;
  height: 500px;
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.staff {
  display: none;
}
.quantities {
  display: none;
}
h1 {
  font-size: 40px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
table {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--main-color);
  border-radius: var(--radius);
  background-color: white;
  height: 200px;
  margin: auto;
  text-align: center;
}
table th {
  width: 100px;
  border-bottom: 1px solid var(--main-color);
}
table th:not(:last-of-type) {
  border-right: 1px solid var(--main-color);
}
table td {
  border-bottom: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
}
table td.last-row {
  border-bottom: none;
}
table td.last-col {
  border-right: none;
}
.btn-user,
.btn-staff,
.btn-quantity {
  width: 23%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-staff {
  left: 38.5%;
}
.btn-quantity {
  left: 64%;
}
button {
  width: 100px;
  height: 30px;
  max-height: fit-content;
  background-color: white;
  border: 1px solid var(--main-color);
  border-radius: var(--radius);
  cursor: pointer;
}
.active {
  background-color: #a301010d;
  border: 1px solid var(--main-color);
  border-top: none;
}
.active button {
  background-color: #a30101;
  color: white;
}
.control {
  position: absolute;
  bottom: 5%;
  left: 55.5%;
  transform: translateX(-50%);
}
.control input,
.control select,
.control button {
  height: fit-content;
  width: 150px;
  margin: 20px;
  border: 1px solid var(--main-color);
  border-radius: var(--radius);
}
.control button {
  margin-left: 24%;
}
/* control staff */
.staff .control-staff .control-tools {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* width: 100%;  */
  bottom: 4%;
  /* left: 25%; */
}
.staff .control-staff .select-control {
  width: 40%;
  position: absolute;
  left: 32%;
  bottom: 28%;
}
.staff .control-staff .select-control input {
  display: inline-block;
}
.staff .control-staff .select-control input:first-of-type {
  margin-right: 33%;
}
@media (max-width: 992px) {
  .staff .control-staff .select-control {
    display: flex;
    width: 47%;
    left: 26%;
    bottom: 29%;
  }
}
.staff .control-staff input,
.staff .control-staff select,
.staff .control-staff button {
  height: fit-content;
  width: 150px;
  margin: 20px;
  border: 1px solid var(--main-color);
  border-radius: var(--radius);
}
.staff .control-staff .select-control input {
  margin: 0;
  width: fit-content;
}
@media (max-width: 767px) {
  .btn-user button,
  .btn-staff button,
  .btn-quantity button {
    height: fit-content;
  }
  .staff .control-staff .select-control {
    bottom: 26%;
  }
}
.staff .control-staff .control-tools button {
  margin-left: 4%;
}
/* end content */
/* start footer */
.footer {
  height: 50px;
  background-color: var(--main-color);
}
.footer .content {
  display: flex;
  justify-content: space-between;
}
.footer .content .icons,
.footer .content .links {
  margin-top: 15px;
}
.footer .content .icons i {
  color: white;
}
.footer .content .icons i:not(:first-child) {
  margin-left: 20px;
}
.footer .content .links a {
  color: white;
  text-transform: uppercase;
}
.footer .content .links a:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 767px) {
  .footer {
    height: 150px;
  }
  .footer .content {
    flex-direction: column;
    align-items: center;
  }
  .footer .content .icons,
  .footer .content .links {
    margin-top: 40px;
  }
}
/* end footer */
