/* start variables */
:root {
  --main-color: #a30101;
  --section-padding: 100px;
}
/* end variables */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::selection {
  color: white;
  background: var(--main-color);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
  background-color: #fff8f8;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules  */
/* start logo */
.content {
  position: relative;
}
.content .info {
  display: flex;
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 20px;
  top: 230px;
  left: 10%;
}
.content .info .text {
  padding-left: 100px;
  text-transform: uppercase;
}
.content .info .text h1 {
  width: 200px;
  letter-spacing: 9px;
  margin-top: 10px;
}
/* end logo */
/* start sign in */
.content .right {
  display: none;
  position: absolute;
  background-color: white;
  top: 230px;
  right: 15%;
  width: 320px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid var(--main-color);
}
.content .right .sign-in form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}
.content .right .sign-in input {
  padding-left: 10px;
  border-radius: 20px;
  width: 80%;
  height: 30px;
  font-size: 18px;
  border: 1px solid var(--main-color);
}
.content .right .sign-in input::placeholder {
  color: rgb(0, 0, 0, 80%);
}
.content .right .sign-in input[type="submit"] {
  background-color: #a30101;
  color: white;
}
.content .right .sign-in input[type="submit"]:hover {
  cursor: pointer;
}
.content .right .sign-in span a {
  color: var(--main-color);
  font-weight: bold;
}
@media (max-width: 992px) {
  .content .info {
    left: 5%;
  }
  .content .right {
    right: 10%;
  }
}
@media (max-width: 876px) {
  .content .right {
    right: 5%;
  }
}
@media (max-width: 768px) {
  .content .right {
    right: 50%;
    transform: translate(50%, -10%);
  }
}
/* end sign in */
/* overlay */
.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 80%);
}
/* overlay */
/* start sign up */
.sign-up form {
  width: 500px;
  height: 500px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 110px;
  left: 33%;
  background-color: white;
  border-radius: 15px;
  border: 1px solid var(--main-color);
  z-index: 2;
}
.sign-up form i {
  position: absolute;
  top: 6px;
  right: 10px;
  color: var(--main-color);
}
.sign-up form h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.sign-up input {
  padding-left: 10px;
  border-radius: 20px;
  width: 80%;
  height: 30px;
  font-size: 18px;
  border: 1px solid var(--main-color);
}
.sign-up .name {
  margin-left: 10%;
}
.sign-up .name input {
  width: 42%;
  align-items: center;
}
.sign-up .name input:not(:first-of-type) {
  margin-left: 4%;
}
.sign-up .age {
  margin-left: 10%;
}
.sign-up .age input {
  width: 27%;
  align-items: center;
}
.sign-up .age input:not(:first-of-type) {
  margin-left: 2.9%;
}
.sign-up input::placeholder {
  color: rgb(0, 0, 0, 80%);
}
.sign-up input[type="submit"] {
  background-color: #a30101;
  color: white;
}
.sign-up form .private {
  margin-left: -35%;
}
.sign-up input[type="checkbox"] {
  height: inherit;
  width: auto;
}
.sign-up input[type="submit"]:hover {
  cursor: pointer;
}
@media (max-width: 992px) {
  .sign-up form {
    left: 25%;
  }
}
@media (max-width: 767px) {
  .sign-up form {
    width: 350px;
    height: 550px;
    top: 60px;
    left: 4%;
  }
  .sign-up form .private,
  .sign-up form .Type-Gender {
    margin-left: 10%;
  }
  .sign-up form .Type-Gender label {
    margin-left: 17%;
  }
}
/* end sign up */
