/* start variables */
:root {
  --main-color: #a30101;
  --section-padding: 100px;
}
/* end variables */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::selection {
  color: white;
  background: var(--main-color);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
  background-color: #fff8f8;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
hr {
  margin: 20px auto;
  border: 1px solid var(--main-color);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small screen */
@media (min-width: 768px) {
  .container,
  hr {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container,
  hr {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container,
  hr {
    width: 1170px;
  }
}
/* end global rules  */
/* start header */
.header .container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-top: 5px;
}
.header .container .logo {
  height: 100%;
}
.header .container .logo img {
  height: 100%;
}
.header .links ul {
  display: flex;
}
.header .links ul li {
  margin-left: 30px;
  text-transform: uppercase;
}
.header .links ul li:last-child {
  margin-right: 10px;
}
.header .links ul li a {
  color: black;
  font-size: 18px;
}
.header .links ul li:hover {
  transition: 0.5s;
  transform: scale(1.2);
}
.header .links ul li:hover a {
  color: var(--main-color);
}
.header i {
  display: none;
}
@media (max-width: 768px) {
  .header i {
    display: block;
    font-size: 30px;
    margin: 15px 10px;
    color: var(--main-color);
  }
  .header .links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--main-color);
    height: 300px;
    z-index: 2;
    position: absolute;
    top: 70px;
    right: 0;
    border: 1px dashed white;
  }
  .header .links ul {
    flex-direction: column;
  }
  .header .links ul li {
    margin: 0 0 28%;
    border-bottom: 1px solid white;
    width: 80%;
    text-align: center;
    padding-bottom: 5px;
  }
  .header .links ul li a {
    color: white;
  }
}
/* end header */
/* start logo */
.content {
  position: relative;
}
.content .info {
  display: flex;
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 20px;
  top: 150px;
  left: 10%;
}
.content .info .text {
  padding-left: 100px;
  text-transform: uppercase;
}
.content .info .text h1 {
  width: 200px;
  letter-spacing: 9px;
  margin-top: 10px;
}
/* end logo */
/* start sign in */
.content .right {
  display: none;
  position: absolute;
  background-color: white;
  top: 150px;
  right: 15%;
  width: 320px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid var(--main-color);
}
.content .right .sign-in .signIn-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}
.content .right .sign-in input {
  padding-left: 10px;
  border-radius: 20px;
  width: 80%;
  height: 30px;
  font-size: 18px;
  border: 1px solid var(--main-color);
}
.content .right .sign-in input::placeholder {
  color: rgb(0, 0, 0, 80%);
}
.content .right .sign-in input[type="submit"] {
  background-color: #a30101;
  color: white;
}
.content .right .sign-in input[type="submit"]:hover {
  cursor: pointer;
}
.content .right .sign-in span a {
  color: var(--main-color);
  font-weight: bold;
}
@media (max-width: 992px) {
  .content .info {
    left: 5%;
  }
  .content .right {
    right: 10%;
  }
}
@media (max-width: 876px) {
  .content .right {
    right: 5%;
  }
}
@media (max-width: 768px) {
  .content .right {
    right: 50%;
    top: 100px;
    transform: translate(50%, -10%);
  }
}
/* end sign in */
/* start footer */
.footer {
  height: 50px;
  width: 100%;
  background-color: var(--main-color);
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer .content {
  display: flex;
  justify-content: space-between;
}
.footer .content .icons,
.footer .content .links {
  margin-top: 15px;
}
.footer .content .icons i {
  color: white;
}
.footer .content .icons i:not(:first-child) {
  margin-left: 20px;
}
.footer .content .links a {
  color: white;
  text-transform: uppercase;
}
.footer .content .links a:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 767px) {
  .footer {
    height: 150px;
  }
  .footer .content {
    flex-direction: column;
    align-items: center;
  }
  .footer .content .icons,
  .footer .content .links {
    margin-top: 40px;
  }
}
/* end footer */
